body {
    background-color: #f5dee9;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #ebb5e8;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ---------- Tabela ---------- */

.tabela-admin {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.cabecalho th {
    background-color: #f2abcf;
    padding: 12px;
    font-size: 18px;
    color: white;
}

td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ffd6e8;
}

tr:hover {
    background-color: #fff0f6;
}

/* ---------- Linha do botão ---------- */

.linha-add td {
    background-color: #ffe1ef;
    padding: 15px;
    text-align: center;
}

.add-btn-table {
    display: inline-block;
    background-color: #c47a9d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s ease;
}

.add-btn-table:hover {
    background-color: #c47a9d;
    transform: scale(1.05);
}

/* ---------- Botão de Excluir ---------- */

.btn-excluir {
    background-color: #c26992;
    color: white;
    padding: 7px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

.btn-excluir:hover {
    background-color: #c47a9d;
    transform: scale(1.05);
}
