<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Floricultura Ana 🌷</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500family=Poppins:wght@400;600display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>🌸 Bem-vindo à Floricultura da Ana </h1>

  <div style="text-align:center;">
    <a href="/estoque"><button>Ver Estoque</button></a>
    <a href="/admin"><button>Administração</button></a>
  </div>
      </main>

    <footer>
        <p> Surpreenda quem você ama com flores! 🌷</p>
    </footer>
</body>
</html>

